@import url(../style.css);
@import url(./popupImport.css);

.conteneur-import {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 10.5vw;
	grid-row-gap: 6.08vh;

	padding: 5.45vh 0;
}

.cadre-import {
	text-align: center;
	box-shadow: var(--ombre-value);
	border-radius: var(--arrondi);
	width: 25.6vw;
	height: 15.73vh;
}

.titre {
	font-family: "Inter Tight", serif;
	color: white;
	background-color: var(--violet-moyen);
	border-radius: var(--arrondi-entete);
	padding: 1.06vh 0;
}

.infos-import {
	margin: 1.06vh 0;
}

.btn-supprimer {
	background-color: var(--violet-moyen);
	border-radius: var(--arrondi);
	color: white;
	padding: 0.6vh 1.05vw;
	cursor: pointer;
	border: none;
	font-size: 80%;
	font-weight: 600;
}

button {
	border-radius: var(--arrondi);
	color: white;
	cursor: pointer;
	border: none
}

.pied-de-page {
	display: flex;
	justify-content: space-between;
}

.btn-ajout-semestre {
	background-color: var(--violet-moyen);
}

.btn-import {
	background-color: var(--orange-peps);
}