@import url('../style.css');

#popup-erreur {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	box-shadow: var(--ombre-value);
	border-radius: var(--arrondi);
	text-align: center;
	background-color: white;
	z-index: 9999;
	
	animation-name: ouverturePopup;
	animation-duration: 0.5s;
	animation-timing-function: ease;
}

@keyframes ouverturePopup {
	from { transform: translate(-50%, -50%) scale(0); }
	to   { transform: translate(-50%, -50%) scale(1); }
}

#popup-erreur.ouvert {
	display: block;
	transform: translate(-50%, -50%) scale(1);
}

.titre-popup {
	color: white;
	text-transform: uppercase;
	background-color: var(--violet-fonce);
	padding: 1.96vh 10.25vw;
	border-radius: var(--arrondi-entete);
	font-weight: 600;
	font-size: 1.58em;
	margin-bottom: 1.27vh;
}

.message {
	color: var(--violet-fonce);
	font-weight: 600;
	font-size: 1.1em;
	padding: 1vh 0;
}

.btns-popup {
	display: flex;
	justify-content: space-between;
}

.btn-annuler {
	background: var(--violet-fonce);
}
