@import url(../style.css);
@import url(./popupAvis.css);

body {
	padding: 0px;
	margin: 0px;
}

.conteneur-export {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 2vw;
	overflow: auto; 
	max-height: 70vh; /* Par exemple, une hauteur maximale de 300 pixels */
	padding: 1.5vh;
}

.cadre-export {
	width: 17.9vw;
}

.conteneur-information {
	color: var(--violet-action);
	text-align: center;
	border-radius: var(--arrondi);
	box-shadow: var(--ombre-value);
	padding: 6vh 0 2vh 0vh;
}

.conteneur-information p {
	margin: 1vh;
	font-size: 1.4rem;
}

.photo-etudiant {
	border: 3px solid var(--violet-action);
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	box-shadow: var(--ombre-value);
}

.conteneur-image-etudiant {
	transform: translate(0%, 50%);
	display: flex;
	justify-content: center;
}

.btn-gauche button {
	background-color: var(--violet-action);
	margin-left: 2vh;
}

.btn-droit button {
	background-color: var(--orange-peps);
	margin-right: 2vh;
}

.pied-de-page {
	position: absolute;
	bottom: 0px;
	height: fit-content;
	width: 100vw;
	margin-bottom: 2vh;
}