@import url(../style.css);

button {
	border-radius: var(--arrondi);
	color: white;
	cursor: pointer;
	border: none
}

#popup-avis-poursuite {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) /* scale(0); */;
	box-shadow: var(--ombre-value);
	border-radius: var(--arrondi);
	text-align: center;
	background-color: white;
	z-index: 9999;
	
	animation-name: ouverturePopup;
	animation-duration: 0.5s;
	animation-timing-function: ease;
}

@keyframes ouverturePopup {
	from { transform: translate(-50%, -50%) scale(0); }
	to   { transform: translate(-50%, -50%) scale(1); }
}

#popup-ajout-semestre.ouvert {
	display: block;
	transform: translate(-50%, -50%) scale(1);
}

.titre-popup {
	color: white;
	text-transform: uppercase;
	background-color: var(--violet-fonce);
	padding: 1.96vh 0;
	border-radius: var(--arrondi-entete);
	font-weight: 600;
	font-size: 1.58em;
	margin-bottom: 3.27vh;
	width: auto;
}

.sous-titre {
	color: var(--violet-fonce);
	font-weight: 600;
	font-size: 1.1em;
	padding: 1vh 0;
}

#entree-texte {
	background-color: white;
	border: 1px solid var(--violet-fonce);
	border-radius: var(--arrondi);
	padding: 1vh 10vw;
	text-align: center;
	color: var(--violet-fonce);
	font-size: 1em;
	margin-bottom: 3vh;
}

.btn-imports {
	display: flex;
	justify-content: center;
}

.btns-popup {
	display: flex;
	justify-content: space-between;
}

.btn-annuler {
	background: var(--violet-fonce);
}

.btn-valider {
	background: var(--orange-peps);
}